{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="about">
        <div class="about-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 aboutWrapper">
                        <!-- Section Title -->
                        <div class="nav-extra hidden-xs">
                            <!-- Button Contact Modal -->
                            <a data-target="#callmeModal" data-toggle="modal" href="#" class="btn btn-default">
                                <span aria-hidden="true" class="icon_phone"></span>
                            </a>
                            <!-- Button 'Hire me' -->
                            <a href="#contact" class="btn btn-info">¡Contratame!</a>
                        </div>
                        <div class="section-title">
                            <h2><span>01</span>Acerca de mí</h2>
                        </div><!-- end Section Title -->
                        <h1>Hola, mi nombre es <strong>Eduardo Saavedra</strong> <br>Desarrollador Web y <span class="bg-color">Full Stack Developer</span></h1>
                            <p>{{ description }}</p>
                       
                        
                        <div class="skills">
                        {% for s in skills %}
                            <div class="skill-outer">
                                <h4>{{ s.title }}<span>{{ s.progress }}%</span></h4>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ s.progress }}" aria-valuemin="0" aria-valuemax="{{ s.progress }}" style="width: {{ s.progress }}%;">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>
    
    <section id="services">
        <div class="services-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 servicesWrapper">

                        <div class="section-title">
                            <h2><span>02</span>Servicios</h2>
                        </div>

                        {% for s in services %}
                        <div class="service-box">
                            <div>
                                <i class="icon {{ s.icon }}"></i>
                            </div>
                            <div>
                                <h3>{{ s.title }}</h3>
                                <p>{{ s.text }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>

    <section id="portfolio">
        <div class="portfolio-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 portfolioWrapper">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2 class="pull-left"><span>03</span>Portfolio</h2>
                            <div class="portfolio-filter pull-right">
                            <ul>
                                <li class="btn btn-default filter active" data-filter="all">Show All</li><!--
                                --><li class="btn btn-default filter" data-filter=".category-1">Branding</li><!--
                                --><li class="btn btn-default filter" data-filter=".category-2">Websites</li>
                            </ul>
                        </div>
                        </div><!-- end Section Title -->
                        <div class="row">
                            <div id="mix-container">
                                <!-- Image 1 -->
                                <div class="col-xs-12 col-sm-4 mix category-1">
                                    <div class="imageWrapper">
                                        <a class="lightbox" href="#popup-1">
                                            <img src="{% static 'images/portfolio-1.jpg' %}" alt=""><!-- Image 1 source -->
                                            <div class="imageHover">
                                                <div>
                                                    <h3>Project Title</h3>
                                                    <span>Branding</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- popup content -->
                                        <div id="popup-1" class="mfp-hide popup-box">
                                            <img src="{% static 'images/portfolio-1.jpg' %}" alt=""><!-- Image 1 source -->
                                            <div>
                                                <h3>Project Title</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                                            </div>
                                        </div>
                                        <!-- end popup content -->
                                    </div>
                                </div>
                                <!-- Image 2 -->
                                <div class="col-xs-12 col-sm-4 mix category-2">
                                    <div class="imageWrapper">
                                        <a class="lightbox" href="#popup-2">
                                            <img src="{% static 'images/portfolio-2.jpg' %}" alt=""><!-- Image 2 source -->
                                            <div class="imageHover">
                                                <div>
                                                    <h3>Project Title</h3>
                                                    <span>Websites</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- popup content -->
                                        <div id="popup-2" class="mfp-hide popup-box">
                                            <img src="{% static 'images/portfolio-2.jpg' %}" alt=""><!-- Image 2 source -->
                                            <div>
                                                <h3>Project Title</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                                            </div>
                                        </div>
                                        <!-- end popup content -->
                                    </div>
                                </div>
                                <!-- Image 3 -->
                                <div class="col-xs-12 col-sm-4 mix category-1">
                                    <div class="imageWrapper">
                                        <a class="lightbox" href="#popup-3">
                                            <img src="{% static 'images/portfolio-3.jpg' %}" alt=""><!-- Image 3 source -->
                                            <div class="imageHover">
                                                <div>
                                                    <h3>Project Title</h3>
                                                    <span>Branding</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- popup content -->
                                        <div id="popup-3" class="mfp-hide popup-box">
                                            <img src="{% static 'images/portfolio-3.jpg' %}" alt=""><!-- Image 3 source -->
                                            <div>
                                                <h3>Project Title</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                                            </div>
                                        </div>
                                        <!-- end popup content -->
                                    </div>
                                </div>
                                <!-- Image 4 -->
                                <div class="col-xs-12 col-sm-4 mix category-2">
                                    <div class="imageWrapper">
                                        <a class="lightbox" href="#popup-4">
                                            <img src="{% static 'images/portfolio-4.jpg' %}" alt=""><!-- Image 4 source -->
                                            <div class="imageHover">
                                                <div>
                                                    <h3>Project Title</h3>
                                                    <span>Websites</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- popup content -->
                                        <div id="popup-4" class="mfp-hide popup-box">
                                            <img src="{% static 'images/portfolio-4.jpg' %}" alt=""><!-- Image 4 source -->
                                            <div>
                                                <h3>Project Title</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                                            </div>
                                        </div>
                                        <!-- end popup content -->
                                    </div>
                                </div>
                                <!-- Image 5 -->
                                <div class="col-xs-12 col-sm-4 mix category-2">
                                    <div class="imageWrapper">
                                        <a class="lightbox" href="#popup-5">
                                            <img src="{% static 'images/portfolio-5.jpg' %}" alt=""><!-- Image 2 source -->
                                            <div class="imageHover">
                                                <div>
                                                    <h3>Project Title</h3>
                                                    <span>Websites</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- popup content -->
                                        <div id="popup-5" class="mfp-hide popup-box">
                                            <img src="{% static 'images/portfolio-5.jpg' %}" alt=""><!-- Image 2 source -->
                                            <div>
                                                <h3>Project Title</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                                            </div>
                                        </div>
                                        <!-- end popup content -->
                                    </div>
                                </div>
                                <!-- Image 6 -->
                                <div class="col-xs-12 col-sm-4 mix category-1">
                                    <div class="imageWrapper">
                                        <a class="lightbox" href="#popup-6">
                                            <img src="{% static 'images/portfolio-6.jpg' %}" alt=""><!-- Image 3 source -->
                                            <div class="imageHover">
                                                <div>
                                                    <h3>Project Title</h3>
                                                    <span>Branding</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- popup content -->
                                        <div id="popup-6" class="mfp-hide popup-box">
                                            <img src="{% static 'images/portfolio-6.jpg' %}" alt=""><!-- Image 3 source -->
                                            <div>
                                                <h3>Project Title</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                                            </div>
                                        </div>
                                        <!-- end popup content -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- end Inner row -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>

    <section id="resume">
        <div class="resume-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 resumeWrapper">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2><span>04</span>Resume</h2>
                        </div><!-- end Section Title -->
                        <!-- Resume box 1 -->
                        <div class="resume-box">
                            <div>
                                <i class="icon_pencil"></i>
                            </div>
                            <div>
                                <h3>Academy of Art University</h3>
                                <span>2015 - Present</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- Resume box 2 -->
                        <div class="resume-box">
                            <div>
                                <i class="icon_toolbox_alt"></i>
                            </div>
                            <div>
                                <h3>IT Technical Institute</h3>
                                <span>2014 - 2015</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- Resume box 3 -->
                        <div class="resume-box">
                            <div>
                                <i class="icon_genius"></i>
                            </div>
                            <div>
                                <h3>Web Design School</h3>
                                <span>2013 - 2014</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- Resume box 4 -->
                        <div class="resume-box">
                            <div>
                                <i class="icon_contacts_alt"></i>
                            </div>
                            <div>
                                <h3>Bachelor Degree</h3>
                                <span>2010 - 2013</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- end Resume box 4 -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>

    <section id="blog">
        <div class="blog-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 blogWrapper">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2><span>05</span>Blog Posts</h2>
                        </div><!-- end Section Title -->
                        <!-- Blog Post 1 -->
                        <div class="blog-post row">
                        <div class="col-sm-4">
                            <div class="blog-img">
                                <img src="{% static 'images/blog-img-1.jpg' %}" alt="">
                                <span class="card-title post-ver-date"><span class="icon_calendar" aria-hidden="true"></span> February 15, 2016</span>
                            </div>
                            <div class="blog-dis">
                                <h3>Blog Post with Image</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a class="btn btn-default">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="blog-img">
                                <img src="{% static 'images/blog-img-2.jpg' %}" alt="">
                                <span class="card-title post-ver-date"><span class="icon_calendar" aria-hidden="true"></span> February 15, 2016</span>
                            </div>
                            <div class="blog-dis">
                                <h3>Standart Blog Post</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a class="btn btn-default">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="blog-img">
                                <img src="{% static 'images/blog-img-3.jpg' %}" alt="">
                                <span class="card-title post-ver-date"><span class="icon_calendar" aria-hidden="true"></span> February 15, 2016</span>
                            </div>
                            <div class="blog-dis">
                                <h3>Blog Post with Image</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a class="btn btn-default">Read More</a>
                            </div>
                        </div>
                        </div>
                        <!-- end Blog Post 3 -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>

    <section id="testimonial">
        <div class="testimonial-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 testimonialWrapper">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2><span>06</span>Testimonial</h2>
                        </div><!-- end Section Title -->
                        <div class="testimonial-box">
                            <div id="testimonialSlider" class="owl-carousel">
                                <!-- 1 -->
                                <div class="testimonial">
                                    <div class="testimonial_content">
                                        <div class="testimonial_content_inner">
                                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                        </div>
                                    </div>
                                    <div class="testimonial_author clearfix">
                                        <img alt="" src="{% static 'images/client-1.jpg' %}" class="testimonial_photo">
                                        <h3 class="testimonial_name">Robert Green</h3>
                                        <div class="testimonial_position">Businessman</div>
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="testimonial">
                                    <div class="testimonial_content">
                                        <div class="testimonial_content_inner">
                                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                        </div>
                                    </div>
                                    <div class="testimonial_author clearfix">
                                        <img alt="" src="{% static 'images/client-2.jpg' %}" class="testimonial_photo">
                                        <h3 class="testimonial_name">Robert Green</h3>
                                        <div class="testimonial_position">Businessman</div>
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="testimonial">
                                    <div class="testimonial_content">
                                        <div class="testimonial_content_inner">
                                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                        </div>
                                    </div>
                                    <div class="testimonial_author clearfix">
                                        <img alt="" src="{% static 'images/client-3.jpg' %}" class="testimonial_photo">
                                        <h3 class="testimonial_name">Robert Green</h3>
                                        <div class="testimonial_position">Businessman</div>
                                    </div>
                                </div>
                                <!-- end 3 -->
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>

    <section id="contact">
        <div class="contact-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 contactWrapper">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2><span>07</span>Get In Touch</h2>
                        </div><!-- end Section Title -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 contact-form">
                                <div class="widget">
                                <form method="post" id="contactform">
                                    <div class="input-style">
                                        <div>
                                            <input class="form-control" type="text" id="name" name="name" placeholder="Name">
                                        </div>
                                        <div>
                                            <input class="form-control" type="email" id="email" name="email" placeholder="E-Mail">
                                        </div>
                                    </div>
                                    <div class="text-style">
                                        <textarea class="form-control" name="message" id="message" placeholder="Message"></textarea>
                                    </div>
                                    <input type="submit" id="submit" class="btn btn-info" name="submit" value="Send Message">
                                    <div class="submit-result">
                                        <p id="success">Your Message has been sent!</p>
                                        <p id="error">Something went wrong, go back and try again!</p>
                                    </div>
                                </form>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 contact-info">
                                <div class="widget">
                                <ul>
                                    <li>
                                        <h3><span class="icon_pin" aria-hidden="true"></span> Address</h3>
                                        <p>121 King St, Melbourne VIC 3000</p>
                                    </li>
                                    <li>
                                        <h3><span class="icon_phone" aria-hidden="true"></span> Phone</h3>
                                        <p>+(987) 654 321 01</p>
                                    </li>
                                    <li>
                                        <h3><span class="icon_mail" aria-hidden="true"></span> Email</h3>
                                        <p>johnny.smith@domain.com</p>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div><!-- end Inner row -->
                        <!-- Google Maps -->
                        <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109552.19658281952!2d75.78663299928208!3d30.900473636616745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a837462345a7d%3A0x681102348ec60610!2sLudhiana%2C+Punjab+141001!5e0!3m2!1sen!2sin!4v1461389509410" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <!-- end Google Maps -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section>
{% endblock %}